:root {
  --c-orange: 26 100% 55%;
  --pale-orange: 25 100% 94%;

  --darkest-blue: 220 13% 13%;
  --drak-grayish-blue: 219 9% 45%;
  --grayish-blue: 220 14% 75%;
  --light-grayish-blue: 223 64% 98%;
  --white: 0 0% 100%;
  --black: 0 0% 0%;

  --fs-400: 1rem;
  --fs-500: 2.5rem;
  --fs-700: 3.5rem;
}

/* -------------------- */
/* CSS RESET            */
/* -------------------- */

/* by Andy Bell */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------- */
/* MY CSS RESET         */
/* -------------------- */

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

/* -------------------- */
/* UTILITIES            */
/* -------------------- */

/* FONTS */
body {
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 1.5;
}

/* FONT SIZES */
.fs-400 {
  font-size: var(--fs-400);
}

.fs-400 {
  font-size: var(--fs-400);
}

/* TEXT COLOR */

.text-light {
  color: hsl(var(--black) / 0.5);
}

.container {
  max-width: 70rem;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex--center {
  align-items: center;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* -------------------- */
/* HEADER               */
/* -------------------- */
header {
  padding: 1rem 0;
  --gap: 2.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px hsl(var(--black) / 0.15);
}

.logo {
  margin-right: 1rem;
}

nav a {
  text-decoration: none;
}

.menu-link:hover {
  padding-bottom: 2.6rem;
  border-bottom: solid 5px hsl(var(--c-orange));
}

.user-avatar {
  height: 3rem;
  aspect-ratio: 1;
}
