:root {
  --orange: 26 100% 55%;
  --pale-orange: 25 100% 94%;

  --darkest-blue: 220 13% 13%;
  --dark-grayish-blue: 219 9% 45%;
  --grayish-blue: 220 14% 75%;
  --light-grayish-blue: 223 64% 98%;
  --white: 0 0% 100%;
  --black: 0 0% 0%;

  --fs-200: 0.5rem;
  --fs-400: 1rem;
  --fs-500: 2rem;
  --fs-600: 2.5rem;
  --fs-700: 3.5rem;
}

/* -------------------- */
/* CSS RESET            */
/* -------------------- */

/* by Andy Bell */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------- */
/* MY CSS RESET         */
/* -------------------- */

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

p {
  color: hsl(var(--black) / 0.6);
}

button {
  border: none;
  cursor: pointer;
  background-color: inherit;
  transition: background 350ms ease-in-out;
}

input {
  text-align: center;
  font-weight: 700;
  border: none;
  background: inherit;
}

/* -------------------- */
/* UTILITIES            */
/* -------------------- */

/* FONTS */
body {
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 1.5;
}

/* FONT SIZES */
.fs-200 {
  font-size: var(--fs-200);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

/* FONT COLOR */

.text-light {
  color: hsl(var(--black) / 0.5);
}

.text-orange {
  color: hsl(var(--orange));
}

/* FONT SPACING */
.letter-space-1 {
  letter-spacing: 0.25rem;
}
.letter-space-2 {
  letter-spacing: 0.1rem;
}
.letter-space-3 {
  letter-spacing: 0.05rem;
}

/* TEXT STYLE */
.uppercase {
  text-transform: uppercase;
}

/* FLEX & GRID */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex--center {
  align-items: center;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid--center {
  place-items: center;
}

@media (min-width: 45rem) {
  .grid--columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

.container {
  padding: 1.5rem;
}

/* -------------------- */
/* HEADER               */
/* -------------------- */
header {
  justify-content: space-between;
}

.menu-toggle {
  display: none;
}

.logo {
  min-width: fit-content;
  margin-right: 2rem;
}

.menu-link {
  text-decoration: none;
  color: hsl(var(--black) / 0.5);
  padding-bottom: 1.6rem;
}

.menu-link:hover {
  border-bottom: 0.3rem solid hsl(var(--orange));
}

.user-avatar {
  height: 3rem;
  border-radius: 50%;
}

.user-avatar:hover {
  outline: 3px solid hsl(var(--orange));
}

@media (max-width: 70rem) {
  header {
    padding-inline: 2rem;
  }
}

@media (max-width: 50rem) {
  header {
    margin: 0;
    border-bottom: none;
  }
  .menu-toggle {
    display: inline-block;
    background: url(../images/icon-menu.svg) no-repeat;
    width: 1rem;
    height: 1rem;

    z-index: 10000;
  }

  nav {
    background: hsl(var(--white));
    position: absolute;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;

    z-index: 1000;
    transform: translateX(-100%);
    transition: 350ms ease-in-out;
  }

  header:before {
    content: '';
    background: hsl(var(--black) / 0.8);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: 10000;
    transform: translateX(100%);
    transition: opacity 350ms ease-in-out;
  }

  nav ul {
    flex-direction: column;
    margin-top: 6rem;
    margin-left: 2rem;
  }

  .menu-link {
    display: block;
    font-weight: 700;
    color: hsl(var(--black) / 1);
    padding: 0.5rem;
  }

  .menu-link:hover {
    border: none;
  }

  .user-avatar {
    height: 1.5rem;
  }

  /* Menu Active */
  header.active:before {
    z-index: 100;
    opacity: 1;
    transform: translateX(0);
  }

  header.active .menu-toggle {
    background: url(../images/icon-close.svg) no-repeat;
  }

  header.active nav {
    transform: translateX(0);
  }
}

@media (min-width: 35rem) {
  header {
    max-width: 70rem;
    margin-inline: auto;
    --gap: 2.5rem;
    border-bottom: 1px solid hsl(var(--black) / 0.5);
  }
}

/* Cart */
.cart {
  position: relative;
}

.cart .cart-products {
  margin-top: 3.5rem;
}

.cart-products .cart-empty {
  text-align: center;
  margin-block: 5rem 2rem;
}

.cart[data-status='openned'] .icon-cart,
.cart[data-hasItens='true'] .icon-cart {
  filter: brightness(0);
}

.cart .cart-items {
  width: 1rem;
  font-weight: 700;
  font-size: 0.6rem;
  text-align: center;
  border-radius: 0.5rem;
  color: hsl(var(--white));
  background-color: hsl(var(--orange));

  position: absolute;
  top: -0.5rem;
  right: -0.5rem;

  display: none;
}

.cart > div {
  margin-inline: 1rem;
  padding: 1.5rem;
  background-color: hsl(var(--white));
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem 0 hsl(var(--black) / 0.3);

  position: absolute;
  width: calc(100vw - 2rem);
  top: 3.5rem;
  right: -4.5rem;
  z-index: 10000;

  display: none;
}

.cart[data-status='active'] > div,
.cart[data-status='openned'] > div {
  display: block;
}

@media (min-width: 35rem) {
  .cart > div {
    max-width: 25rem;
    top: 2.5rem;
  }
}

.cart h5 {
  color: hsl(var(--black));
  margin-block: 0;
}

.cart h5:after {
  content: '';
  display: block;
  position: absolute;
  top: 4.3rem;
  left: 0;
  width: 100%;
  height: 1px;
  background: hsl(var(--black) / 0.1);
}

.cart-info {
  --gap: 1rem;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.cart-info img {
  border-radius: 0.5rem;
  width: 4rem;
}

.cart-info .selected-quantity {
  margin-left: 0.3rem;
}

.cart-info .total-price {
  margin-left: 0.5rem;
  color: hsl(var(--black));
  font-weight: 700;
}

.btn-remove-product {
  width: 1rem;
  height: 1rem;
  background-image: url(../images/icon-delete.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.btn-checkout {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  font-weight: 700;
  color: hsl(var(--white));
  background-color: hsl(var(--orange));
}

.btn-checkout:hover {
  background-color: hsl(var(--orange) / 0.8);
}
/* -------------------- */
/* MAIN CONTENT         */
/* -------------------- */

main {
  max-width: 70rem;
  margin-inline: auto;
  --gap: 1.5rem;
}

/* PHOTOS */
.product-photos {
  margin: 5rem 3rem;
  position: relative;
}
.product-big-photo {
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.product-thumbnails {
  --gap: 1rem;
}
.product-thumbnails > a {
  border-radius: 1rem;
  overflow: hidden;
}
.product-thumbnails > a:hover,
.product-thumbnails > a:focus-visible,
.product-thumbnails > .active {
  outline: solid 3px hsl(var(--orange));
}
.product-thumbnails > a:hover img,
.product-thumbnails > a:focus-visible img,
.product-thumbnails > .active img {
  opacity: 0.5;
}

.previous-photo {
  left: 0;
  background: url(../images/icon-previous.svg) no-repeat;
}

.next-photo {
  right: 0;
  background: url(../images/icon-next.svg) no-repeat;
}

.fs-big-photo .previous-photo {
  left: -3rem;
}

.fs-big-photo .next-photo {
  right: -3rem;
}

.fs-big-photo .previous-photo:hover {
  background-image: url(../images/icon-previous-hover.svg);
  background-size: 0.8rem;
}

.fs-big-photo .next-photo:hover {
  background-image: url(../images/icon-next-hover.svg);
  background-size: 0.8rem;
}

.previous-photo,
.next-photo {
  background-color: hsl(var(--white));
  background-position: center center;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  padding: 1.5rem;
  margin: 1.5rem;
  border-radius: 50%;
}

@media (min-width: 35rem) {
  .product-photos .previous-photo,
  .product-photos .next-photo {
    display: none;
  }
}

@media (max-width: 35rem) {
  .product-photos {
    margin: 0;
  }

  .product-big-photo {
    border-radius: 0;
    margin-bottom: 0;
  }

  .product-thumbnails {
    display: none;
  }
}

/* Price */
.price {
  --gap: 0.5rem;
  font-weight: 700;
}

@media (max-width: 45rem) {
  .price {
    grid-template-columns: repeat(2, 1fr);
  }
  .price p {
    justify-self: end;
  }
}

.price h4 {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: hsl(var(--orange));
  margin-left: 1rem;
  background-color: hsl(var(--pale-orange));
}

.price p {
  text-decoration: line-through;
}

/* Quantity Selector */

.quantity-selector {
  --gap: 0;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  background-color: hsl(var(--light-grayish-blue));
  border-radius: 0.5rem;
  overflow: hidden;
}

.quantity-selector button:first-child {
  background-image: url(../images/icon-minus.svg);
}

.quantity-selector button:last-child {
  background-image: url(../images/icon-plus.svg);
}

.quantity-selector > button {
  padding: 1.5rem;
  padding-inline: clamp(0.5rem, 0.1rem, 1.5rem);
  background: center no-repeat;
  background-size: 1rem;
}

.quantity-selector button:hover {
  background-color: hsl(var(--dark-grayish-blue) / 0.05);
}

.quantity-selector > input[type='text'] {
  margin-inline: auto;
  width: clamp(1rem, 4vw + 1rem, 20rem);
}

button.addToCart {
  background-color: hsl(var(--orange));
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: 700;
  color: hsl(var(--white));
  box-shadow: 0 1rem 2rem hsl(var(--orange) / 0.5);
  transition: 350ms ease-in-out;

  --gap: 0.3rem;
  grid-auto-flow: column;
  place-content: center;
}

button.addToCart:before {
  content: url(../images/icon-cart.svg);
  filter: brightness(100);
}

button.addToCart:hover {
  background-color: hsl(var(--orange) / 0.7);
  box-shadow: 0 0 1rem hsl(var(--orange) / 0.5);
}

@media (min-width: 45rem) {
  .add-to-cart {
    grid-auto-flow: column;
    grid-auto-columns: 1fr 2fr;
  }
}

.photos-fullscreen {
  display: none;
}

/* Fullscreen photo */
.photos-fullscreen.active {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsl(var(--black) / 0.8);
  place-content: center;
}

.photos-fullscreen > div {
  max-width: 35rem;
}

.fs-big-photo {
  position: relative;
}

.fs-close {
  position: absolute;
  top: -1.8rem;
  right: -0.4rem;
  width: 1rem;
  height: 1rem;
  background: url(../images/icon-close.svg) no-repeat;
  background-size: cover;
  filter: brightness(100);
}

.fs-close:hover {
  filter: none;
  background: url(../images/icon-close-hover.svg) no-repeat;
  background-size: cover;
}
